body {
	background-color:#222;
	color:#ddd;
}

.clock {
	/* width: 50%; */
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.tick {
  -webkit-animation-duration: .2s;
  -webkit-animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
  	opacity:0;
  }

  to {
    opacity:1;
  }
}